PORT=8080

DB_HOST=TU_HOST_AIVEN
DB_PORT=TU_PUERTO_AIVEN
DB_USERNAME=avnadmin
DB_PASSWORD=TU_PASSWORD_AIVEN
DB_DATABASE=defaultdb

DB_SYNCHRONIZE=false
DB_LOGGING=false

ADMIN_USERNAME=admin
ADMIN_PASSWORD=CAMBIA_ESTA_PASSWORD

JWT_SECRET=CAMBIA_ESTE_SECRETO_LARGO_Y_ALEATORIO
JWT_EXPIRES_IN=3600s
